absl-py==0.12.0
appdirs==1.4.4
astunparse==1.6.3
attrs==21.2.0
black==21.5b1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
cirq==0.9.1
cirq-core==0.11.0
cirq-google==0.11.0
click==8.0.0
cryptography==35.0.0
cycler==0.10.0
decorator==4.4.2
dill==0.3.3
dimod==0.10.7
dlx==1.0.4
docplex==2.22.213
dwave-preprocessing==0.3.1.post0
fastdtw==0.3.4
fastjsonschema==2.15.1
freezegun==0.3.15
future==0.18.2
gast==0.3.3
google-api-core==1.21.0
google-auth==1.18.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.37.1
h5py==2.10.0
idna==2.10
importlib-resources==5.1.3
inflection==0.5.1
joblib==1.0.1
jsonschema==4.1.2
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.4.3
more-itertools==8.10.0
mpmath==1.2.1
multitasking==0.0.9
mypy-extensions==0.4.3
networkx==2.5.1
ntlm-auth==1.5.0
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
orqviz==0.1.0
packaging==20.9
pandas==1.2.4
pathspec==0.8.1
Pillow==8.2.0
ply==3.11
promise==2.3
protobuf==3.12.4
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-constraint==1.4.0
python-dateutil==2.8.1
pytz==2021.1
qiskit==0.31.0
qiskit-aer==0.9.1
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.17.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.3
Quandl==3.6.1
regex==2021.4.4
requests==2.25.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
retworkx==0.10.2
rsa==4.7.2
scikit-learn==1.0.1
scipy==1.7.2
seaborn==0.11.1
six==1.16.0
sortedcontainers==2.4.0
symengine==0.8.1
sympy==1.5
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.1
tensorflow-datasets==4.2.0
tensorflow-estimator==2.3.0
tensorflow-metadata==0.30.0
tensorflow-quantum==0.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.60.0
tweedledum==1.1.1
typing-extensions==3.10.0.0
urllib3==1.26.4
websocket-client==1.2.1
Werkzeug==2.0.0
wrapt==1.12.1
yfinance==0.1.64
